<h1>{{title}}</h1>
<p>please login t0 your account here</p>

<div class="login-container">
    <h2>Login</h2>
    <form id="loginForm">
        <input type="email" id="email" placeholder="Enter your email" required>
        <input type="password" id="password" placeholder="Enter your password" required>
        <button type="submit" id="submit">Login</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById("loginForm").addEventListener("submit", (event) => {
            event.preventDefault();

            const email = document.getElementById("email").value.trim();
            const password = document.getElementById("password").value.trim();
            const error = document.getElementById("error");

            fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, password })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.UserID) {
                        if (typeof localStorage !== 'undefined') {
                            console.log("YOU WIN!");
                        }
                        else {
                            console.warn("localStorage not available :()");
                        }
                        localStorage.setItem("UserID", data.UserID);
                        console.log(localStorage.getItem("UserID"));
                        window.location.href = '/profile'
                    }
                    else {
                        alert('Incorrect email or password, try again');
                    }

                });
            if (typeof localStorage !== 'undefined') {
                console.log("YOU WIN!");
            }
            else {
                console.warn("localStorage not available :()");
            }
            localStorage.setItem("UserID", data.UserID);
            console.log(localStorage.getItem("UserID"));
            window.location.href = '/profile'
        });
    });
</script>