<!DOCTYPE html>
<html lang="en">

<body>
    <nav class="navbar">
        <a href="/" class="logo">CityFinder</a>
        <ul class="nav-links">
            <li><a href="/profile">Profile</a></li>
            <li><a href="/CitySearch">Search</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Log In</a></li>
        </ul>
    </nav>
    <div class="login-container">
        <h2>Profile</h2>
        <p id="text">Not logged in.</p>
        <form id="deleteForm">
            <button type="submit" id="delete">Delete account</button>
            <p>

            </p>
        </form>
        <form id="logOut">
            <button type="submit" id="logout">Log Out</button>
        </form>

    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            const UserID = localStorage.getItem("UserID");
            console.log("hi1");
            fetch('/profile', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ UserID })
            })
                .then(response => response.json())
                .then(data => {
                    console.log("hi"); // should now run
                    document.getElementById("text").textContent = data.username
                        ? `Hello, ${data.username}`
                        : "User not found.";
                })
                .catch(err => {
                    console.error("Fetch failed:", err);
                });
        });
        document.getElementById("deleteForm").addEventListener("submit", (event) => {
            event.preventDefault();
            const UserID = localStorage.getItem("UserID");

            fetch('/profile/delete', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ UserID })
            })
            window.location.href = '/';
        });
        document.getElementById("logOut").addEventListener("submit", (event) => {
            event.preventDefault();
            localStorage.setItem("UserID", null);
            window.location.href = '/login';
        });

    </script>
</body>

</html>