<!DOCTYPE html>
<html lang="en">


<body>
  <nav class="navbar">
    <a href="/" class="logo">CityFinder</a>
    <ul class="nav-links">
      <li><a href="/profile">Profile</a></li>
      <li><a href="/CitySearch">Search</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/login">Log In</a></li>
    </ul>
  </nav>
  <div class="container">
    <h2>Create New Account</h2>
    <form id="signupForm">
      <input type="text" id="name" placeholder="Username" required />
      <input type="email" id="email" placeholder="Email" required />
      <div class="password-field">
        <input type="password" id="password" placeholder="Password" required />
        <button type="button" id="togglePassword"></button>
      </div>
      <button type="submit" id="submit">Sign Up</button>
      <p id="message"></p>
    </form>
  </div>
  <script>
    const form = document.getElementById("signupForm");
    const message = document.getElementById("message");
    const togglePassword = document.getElementById("togglePassword");

    form.addEventListener("submit", (event) => {

      event.preventDefault();
      const email = document.getElementById("email").value.trim();
      const username = document.getElementById("name").value.trim();
      const password = document.getElementById("password").value.trim();




      if (!email.includes("@") || !email.includes(".")) {
        message.textContent = "Enter a valid email.";
        return;
      }

      if (username.length < 4) {
        message.textContent = "Name must be at least 4 characters.";
        return;
      }

      if (password.length < 8) {
        message.textContent = "Password must be at least 8 characters.";
        return;
      }

      fetch('/signup', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({ username, email, password })
      })
        .then(response => response.text())
        .then(data => {
          message.style.color = "green";
          message.textContent = "Account created successfully!";
          form.reset();
        })
    });

    togglePassword.addEventListener("click", () => {
      password.type = password.type === "password" ? "text" : "password";
    });
  </script>
</body>

</html>